@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i');
@import 'common/foundation/variables';
// -------------------------
// Colors
// -------------------------
$white: #fff;
$black: #333;
$red: #a22;

$text-primary: #0e1554;
$text-secondary: #3a4476;
$text-light: #6a7299;
$text-lighter: #9da1c3;

$blue-xdark: #0a0f37;
$blue-dark: #0e1554;
$blue-sdark: #2c40bb;
$blue: #445ae3;
$blue-slight: #2a90cc;
$blue-light: #51befe;
$blue-xlight: #4eb7f5;
$blue-xxlight: #d8f8ff;

$purple: #545efc;
$purple-light: #767efd;
$purple-xlight: #dde2ff;
$purple-xxlight: #f5f4fe;

$pink-dark: #de266d;
$pink: #fe3c87;
$pink-light: #ff3c87;
$pink-xlight: #ffe4ee;

$green-dark: #36c7a6;
$green: #33e2bb;
$green-xlight: #d6fff6;

$yellow-dark: #ddac3e;
$yellow: #fad566;
$yellow-light: #fff4d5;

$grey-dark: #999999;
$grey: #e8e8e8;

$base-background: $white;
$base-font-color: $blue-dark;
$base-error-color: $pink;

html,
body,
body input,
body button,
body select,
body textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/*
  HeaderShine
 */
.d-header {
  box-shadow: none;
  background-color: white;
  border-bottom: 1px solid $grey;
}

/*
  FooterShine
 */
.FooterShine {
  border-top: 1px solid $grey;
  padding: 30px 6px 40px 2px;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 54px;

    li:first-child {
      margin-right: auto;
    }

    li:not(:first-child):not(:last-child) {
      margin-right: 24px;
    }
  }

  a,
  a:visited {
    color: $text-light;
    font-size: 1em;

    &:hover,
    &:focus,
    &:active {
      color: $tertiary;
    }
  }

  img {
    height: 54px;
    margin-left: -10px;
    opacity: 0.7;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .SecondNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 6px 3px;
    margin-right: -8px;

    .Download-links {
      .IconStore {
        height: auto;
        display: inline-block;
        opacity: 0.8;

        svg {
          height: 37px;
        }

        &.-app-store {
          opacity: 0.7;
          margin-right: 10px;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .SocialLinks {
      a {
        opacity: 0.7;

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      svg {
        height: 30px;
      }
    }
  }
}

/*
  Shine Connect Button
 */
button.oauth2_basic {
  background: white !important;
  border-radius: 5px;
  border: 1px solid $purple;
  color: $purple;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:before {
    background-size: cover;
    content: '';
    background-image: url(https://community.shine.fr/uploads/shine/original/1X/6d7cbf1a0a520da3184a0c3004cfdf588b7af32c.png);
    height: 21px;
    width: 21px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: white !important;
    background: $purple !important;
  }
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary;
}

.badge-wrapper.bullet .badge-category-bg {
  display: none;
}

.category-name {
  font-size: 1.1em;
  font-weight: 400;
  color: $text-light;
}
.badge-wrapper.bullet span.badge-category {
  color: $text-light;
}

.badge-wrapper .badge-category .d-icon {
  margin-right: 5px;
}

.suggested-topics-message .badge-wrapper.bullet {
  margin-right: 0;
}

#suggested-topics {
  padding: 30px 0;
  .suggested-topics-message {
    margin: 0.5rem 0;
  }
}

#list-area {
  margin-bottom: 80px;
}

.active i {
  color: $blue-light;
}

.fa.tracking,
.fa.watching {
  color: $purple;
  font-weight: normal;
}

tr.category-topic-link,
.latest-topic-list-item,
.table-heading {
  border-color: $grey;
}

.moderator .topic-body {
  background-color: $green-xlight;
}

.badge-category-parent-bg {
  display: none !important;
}

a.mention,
a.mention-group {
  background: transparent;
  color: $purple;
}

@media (max-width: 750px) {
  footer {
    .ProductNav {
      li:not(:first-child) {
        display: none;
      }
    }

    .SecondNav {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 16px;

      .DownloadLinks {
        margin-left: 1px;
      }

      .SocialLinks {
        margin-top: 20px;
        margin-left: -8px;
      }
    }
  }
}


//
// Laruta
//

/**
* Colors
* */
// Blacks & Whites
$black: #000 !default;
$white: #fff !default;
$gray-lighter: #e9e9e9 !default;
$gray-light:   #adadad !default;
$gray-dark:    #4f4f4f !default;
$gray-darker:  #2a2a2a !default;
$gray-scale: 'gray-lighter' $gray-lighter, 'gray-light' $gray-light, 'gray-dark' $gray-dark, 'gray-darker' $gray-darker;

// Colors get overwritten by child theme
// Primary Colors
$primary-color: #5b2e8b !default;
$primary-tint:  #e7dbf3 !default;
$primary-shade: #401363 !default;
$primaries: 'color' $primary-color, 'tint' $primary-tint, 'shade' $primary-shade;

// Secondary Colors
$secondary-color: #235b9c !default;
$secondary-tint:  #dde9f6 !default;
$secondary-shade: #0b1257 !default;
$secondaries: 'color' $secondary-color, 'tint' $secondary-tint, 'shade' $secondary-shade;

// Neutral Colors
$neutral-color: #0c889f !default;
$neutral-tint:  #cceaef !default;
$neutral-shade: #005d6f !default;
$neutrals: 'color' $neutral-color, 'tint' $neutral-tint, 'shade' $neutral-shade;

// Breakout Colors
$breakout-color: #119b4b !default;
$breakout-tint:  #c8e7d5 !default;
$breakout-shade: #005323 !default;
$breakouts: 'color' $breakout-color, 'tint' $breakout-tint, 'shade' $breakout-shade;

// Accent Colors
$accent-color: #ce694b !default;
$accent-tint:  #ead5ce !default;
$accent-shade: #a43513 !default;
$accents: 'color' $accent-color, 'tint' $accent-tint, 'shade' $accent-shade;

// Background Colors
$bg-color-1: #fdf8f8 !default;
$bg-color-2: #f1f5fa !default;

// Lists (for class other molecule declarations)
$colors: 'primary', 'secondary', 'neutral', 'breakout', 'accent';
$mixes:  'color', 'tint', 'shade';
$grays:  'light', 'lighter', 'dark', 'darker';

/**
* Fonts
 **/
@mixin font-face( $font-name, $font-path, // path + file name. Ex : path/to/font/filename
$font-weight: 400, $font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    font-weight: $font-weight;
    @if $support-required=='oldie' {
      src: url('#{$font-path}.eot');
      src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff'),
      url('#{$font-path}.ttf') format('truetype');
    }
    @if $support-required=='recent' {
      src: url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff'),
      url('#{$font-path}.ttf') format('truetype');
    }
    @if $support-required=='modern' {
      src: url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff');
    }
  }
  @if $support-required !='oldie' and $support-required !='recent' and $support-required !='modern' {
    @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
  }
}

//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-light/proximanova-light-webfont', 300, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-regular/proximanova-regular-webfont', 400, normal, "oldie" );
@include font-face( 'ProximaNova', $proximanova-regular-webfont, 400, italic, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-medium/proximanova-medium-webfont', 500, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-semibold/proximanova-semibold-webfont', 600, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-bold/proximanova-bold-webfont', 700, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-extrabold/proximanova-extrabold-webfont', 800, normal, "oldie" );

$primary-font: 'sans-serif';
$secondary-font: 'sans-serif';
$tertiary-font: 'sans-serif';

/**
* Borders
 **/
$border-width: 1px;
$border-radius: 4px;

/**
* Shadows
 **/
$shadow-color-default: rgba($black, 0.24);

/****************************
* Laruta Super Nav
 **************************/
.super-nav {
  // Default + Mobile Styles
  display: none;

  @media (min-width: 768px) {
    background-color: $gray-darker;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    > div {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        padding-bottom: 6px;
        padding-top: 6px;

      }
    }
  }

  .links {
    font-size: 12px;

    a {
      border-bottom: solid 1px $gray-light;
      color: $gray-light;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;

      span{
        display: inline-block;
        padding-left: .5rem;
      }
    }

    li + li {
      border-left: solid 1px $gray-light;
    }
  }

  .user-nav {
    color: $white;
    font-size: 16px;

    a { color: $white; }

    .login {
      align-items: center;
      border-left: solid 1px $gray-light;
      display: flex;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    .navbar-loggedin {
      border-color: $gray-light;
      color: $white;

      .dropdown-toggle,
      .dropdown-menu {
        background-color: rgba($gray-darker, .9) !important;

        & .dropdown-item:hover {
          background-color: rgba($gray-darker, 1) !important;
        }
      }

      * { color: $white; }
    }

    > .button-overhanging {
      transition: all 0.35s ease-in-out;
      align-items: center;
      background-color: $secondary-color;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border: 0;
      box-shadow: 0 3px 24px #333;
      display: flex;
      margin-bottom: -11px;
      padding-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 999;
      position: relative;
      text-transform: uppercase;

      &:hover {
        transition: all 0.35s ease-in-out;
        background-color: $secondary-shade;
        border: 0;
        padding-bottom: 11px;
        margin-bottom: -22px;
      }
    }
  }
}

// Variables
$lrt-gray: #4F4F4F;

// Tags
p {
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: $lrt-gray;
}

a,
a:visited,
a:active,
a:hover {
  color: unset;
}

// Classes
.button-container {
  .button {
    margin: 0 15px;
  }
}

.button,
a.button {
  border-radius: 4px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
  color: white;
  flex: 1;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

// Components
.alert-bootstrap-mode,
.alert-too-few-topics {
  display: none;
}

.laruta-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    color: green;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    margin: 0 auto;
    padding: 15px 0 7px;
    text-align: center;
    width: 60%;
  }

  hr {
    background-color: rgba(green, .5);
    height: 3px;
    margin: 0 30px;
  }
}

.user-account-form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 75px;
  width: 100%;

  .login {
    background: #28509F;
  }

  .join {
    background: #048C86;
  }
}

.search-form {
  color: $lrt-gray;
  margin: 0 auto 15px;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  position: relative;

  input[type="text"] {
    flex: 1;
    font-size: 18px;
    border: solid 1px #c0c0c0;
    border-radius: 7px;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
    margin: 0 15px;
    padding: 15px;
  }
}

#featuredGroups {
  background-color: rgba(#ffffff, .7);
  display: flex;
  flex-direction: column;
  padding: 45px 15px;

  h2 {
    color: #28509F;
    font-size: 34px;
    text-align: left;
  }

  a {
    background-color: darkblue;
    color: white;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0;
    text-align: left;
  }
}

// Discourse Changes
.categories-and-latest,
.categories-and-top {
  flex-flow: column wrap;
}

.category-list tbody {
  display: flex !important;
  padding-top: 6px;
  flex-wrap: wrap;
}

.category-list tr {
  border: none !important;
  margin: 0;
  border-radius: 8px;
  width: 25%;
}

.category-title-link {
  display: flex;
  flex-flow: column wrap;

  .category-text-title {
    margin: 0;
  }
}


#newToConnect {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    box-shadow: 0 0 7px rgba(darkblue, .5);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: darkblue;
    padding: 30px;
  }
}

/*
*
*  Category page
*  (  )
 */
.category-title-header {
  background-color: #3E3E3D !important;
}

.category-title-contents {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h1 {
    display: inline;
    font-size: 28px;
    line-height: 32px;
  }

  > div {
    margin: 15px 0;
  }

  .category-title-description {
    p {
      color: white;
    }
  }
}

#navigation-bar,
.category-heading,
.category-breadcrumb,
.category-notifications-button {
  display: none !important;
}

.edit-category {
  display: inline-block;
  width: 45%;
  margin: 0 3px;
  width: 98%;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
}

#create-topic {
  background-color: #28509F !important;
  color: white !important;
  border-radius: 0 !important;
  border: solid 1px #545efc;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  margin: 0 3px 10px 3px;
  order: 10;
  padding: 15px 0;
  width: 98%;

  &:disabled {
    display: none;
  }
}

.category-boxes {
  width: 94%;
  margin: 0 3% 1.5em 3%;
  padding: 30px 0;
}

.category-boxes-with-topics {

}

.category-boxes,
.category-boxes-with-topics {
  flex-direction: column;

  //sub-category header
  h3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    // lock icon
    i {
      margin-left: auto;
    }
  }

  .category-box {
    text-align: left;
    border-left: 0 !important;
    border-bottom: solid 1px lightgray !important;
    width: 94% !important;
    margin: 0 3% 1.5em 3%;
    padding: 15px 0 30px;

    .category-box-inner {
      border: 0 !important;
    }

    .category-box-heading {
      padding: 0;
    }

    .featured-topics {
      padding: 0;
    }
  }
}

.topic-list {
  .topic-list-item {
    td {
      display: flex;
      flex-direction: column;
    }

    .avatar {
      box-shadow: 0 0 7px grey;
      position: relative;
      z-index: 2;
    }

    .pull-left {

    }

    .right {
      margin-left: 25px;
      margin-top: -10px;
      display: flex;
      flex-direction: column-reverse;
      background-color: #ffd0387d;
      border-radius: 11px;
      border-top-left-radius: 0;
      position: relative;
    }

    .main-link {
      order: 2;
    }

    .topic-item-stats {
      order: 1;

      .badge-category-bg {
        display: none;
      }

      .category-name {
        font-style: italic;
      }
    }

    .pull-right {
      order: 3;
      display: inline-flex;
      justify-content: flex-end;
    }

    .posts-map {
      padding: 0;
    }
  }
}



/*
*
*  Post page
*  (  )
 */


// Category Page title
// Includes: pin-icon, category page header, edit topic icon
.title-wrapper {
  width: 94%;
  padding: 30px 3%;

  h1 {
    .topic-statuses {
      display: flex;
      margin-bottom: 15px;
    }

    .fancy-title {
      text-align: left;
      width: 100%;
      font-size: 28px;
      margin: 15px 0;
    }

    .edit-topic {

    }
  }

  .topic-category {

    .badge-wrapper {
      margin-top: 0;
      font-style: italic;
      font-size: 14px;
    }

    .badge-category-bg {
      display: none;
    }
  }
}

// all posts live inside a post-stream
.post-stream {

  .topic-post {

    background-color: white;
    border-radius: 11px;
    box-shadow: 0 0 3px lightgrey;
    padding: 15px;
    margin: 0 15px;

    .topic-avatar {

    }

    .topic-meta-data {
      flex-direction: column;

      .names {
        margin-right: unset;
        flex: unset;
      }

      .post-date:before {
        //color: gray;
        //content: 'posted ';
      }
    }

    .topic-body {

      .regular {
        margin-top: 30px;
        border-top: solid 1px lightgray;
      }
    }

    .contents {


      p {
        text-align: left;
      }
    }

    .post-menu-area {

    }

    article {
      border: 0;
    }
  }
}

.loading-container {

}

#topic-footer-buttons {

}

#suggested-topics {

}
