@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i');
@import 'common/foundation/variables';
// -------------------------
// Colors
// -------------------------
$white: #fff;
$black: #333;
$red: #a22;

$text-primary: #0e1554;
$text-secondary: #3a4476;
$text-light: #6a7299;
$text-lighter: #9da1c3;

$blue-xdark: #0a0f37;
$blue-dark: #0e1554;
$blue-sdark: #2c40bb;
$blue: #445ae3;
$blue-slight: #2a90cc;
$blue-light: #51befe;
$blue-xlight: #4eb7f5;
$blue-xxlight: #d8f8ff;

$purple: #545efc;
$purple-light: #767efd;
$purple-xlight: #dde2ff;
$purple-xxlight: #f5f4fe;

$pink-dark: #de266d;
$pink: #fe3c87;
$pink-light: #ff3c87;
$pink-xlight: #ffe4ee;

$green-dark: #36c7a6;
$green: #33e2bb;
$green-xlight: #d6fff6;

$yellow-dark: #ddac3e;
$yellow: #fad566;
$yellow-light: #fff4d5;

$grey-dark: #999999;
$grey: #e8e8e8;

$base-background: $white;
$base-font-color: $blue-dark;
$base-error-color: $pink;

html,
body,
body input,
body button,
body select,
body textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/*
  HeaderShine
 */
.d-header {
  box-shadow: none;
  background-color: white;
  border-bottom: 1px solid $grey;
}

/*
  FooterShine
 */
.FooterShine {
  border-top: 1px solid $grey;
  padding: 30px 6px 40px 2px;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 54px;

    li:first-child {
      margin-right: auto;
    }

    li:not(:first-child):not(:last-child) {
      margin-right: 24px;
    }
  }

  a,
  a:visited {
    color: $text-light;
    font-size: 1em;

    &:hover,
    &:focus,
    &:active {
      color: $tertiary;
    }
  }

  img {
    height: 54px;
    margin-left: -10px;
    opacity: 0.7;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .SecondNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 6px 3px;
    margin-right: -8px;

    .Download-links {
      .IconStore {
        height: auto;
        display: inline-block;
        opacity: 0.8;

        svg {
          height: 37px;
        }

        &.-app-store {
          opacity: 0.7;
          margin-right: 10px;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .SocialLinks {
      a {
        opacity: 0.7;

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      svg {
        height: 30px;
      }
    }
  }
}

/*
  Shine Connect Button
 */
button.oauth2_basic {
  background: white !important;
  border-radius: 5px;
  border: 1px solid $purple;
  color: $purple;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:before {
    background-size: cover;
    content: '';
    background-image: url(https://community.shine.fr/uploads/shine/original/1X/6d7cbf1a0a520da3184a0c3004cfdf588b7af32c.png);
    height: 21px;
    width: 21px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: white !important;
    background: $purple !important;
  }
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary;
}

.badge-wrapper.bullet .badge-category-bg {
  display: none;
}

.category-name {
  font-size: 1.1em;
  font-weight: 400;
  color: $text-light;
}
.badge-wrapper.bullet span.badge-category {
  color: $text-light;
}

.badge-wrapper .badge-category .d-icon {
  margin-right: 5px;
}

.suggested-topics-message .badge-wrapper.bullet {
  margin-right: 0;
}

#suggested-topics {
  padding: 30px 0;
  .suggested-topics-message {
    margin: 0.5rem 0;
  }
}

#list-area {
  margin-bottom: 80px;
}

.active i {
  color: $blue-light;
}

.fa.tracking,
.fa.watching {
  color: $purple;
  font-weight: normal;
}

tr.category-topic-link,
.latest-topic-list-item,
.table-heading {
  border-color: $grey;
}

.moderator .topic-body {
  background-color: $green-xlight;
}

.badge-category-parent-bg {
  display: none !important;
}

a.mention,
a.mention-group {
  background: transparent;
  color: $purple;
}

@media (max-width: 750px) {
  footer {
    .ProductNav {
      li:not(:first-child) {
        display: none;
      }
    }

    .SecondNav {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 16px;

      .DownloadLinks {
        margin-left: 1px;
      }

      .SocialLinks {
        margin-top: 20px;
        margin-left: -8px;
      }
    }
  }
}


//
// Laruta
//

// Variables
$lrt-gray: #4F4F4F;

// Tags
body {
  background: rgb(255,250,200);
  background: linear-gradient(180deg, rgba(255,250,200,1) 0%, rgba(255,255,255,0) 30%);
  min-width: 320px;

  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 13px;
}

p {
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: $lrt-gray;
}

a,
a:visited,
a:active,
a:hover {
  color: unset;
}

// Classes
.button-container {
  .button {
    margin: 0 15px;
  }
}

.button,
a.button {
  border-radius: 4px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
  color: white;
  flex: 1;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

// Components
.alert-bootstrap-mode {
  display: none;
}

.laruta-header {

  display: flex;
  flex-direction: column;
  width: 100%;

  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: inherit;

  h1 {
    color: green;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    margin: 0 auto;
    padding: 15px 0 7px;
    text-align: center;
    width: 60%;
  }

  hr {
    background-color: rgba(green, .5);
    height: 3px;
    margin: 0 30px;
  }
}

.user-account-form {

  display: flex;
  justify-content: space-around;
  margin-bottom: 75px;
  width: 100%;

  .login {
    background: #28509F;
  }

  .join {
    background: #048C86;
  }

}

.search-form {
  color: $lrt-gray;
  margin: 0 auto 15px;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  position: relative;

  input[type="text"] {
    flex: 1;
    font-size: 18px;
    border: solid 1px #c0c0c0;
    border-radius: 7px;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
    margin: 0 15px;
    padding: 15px;
  }

}

#featuredGroups {
  background-color: rgba(#ffffff, .7);
  display: flex;
  flex-direction: column;
  padding: 45px 15px;

  h2 {
    color: #28509F;
    font-size: 34px;
    text-align: left;
  }

  a {
    background-color: darkblue;
    color: white;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0;
    text-align: left;
  }
}

// Discourse Changes
.categories-and-latest,
.categories-and-top {
  flex-flow: column wrap;
}

.category-list tbody {
  display: flex !important;
  padding-top: 6px;
  flex-wrap: wrap;
}

.category-list tr {
  border: none !important;
  margin: 0;
  border-radius: 8px;
  width: 25%;
}

.category-title-link {
  display: flex;
  flex-flow: column wrap;

  .category-text-title {
    margin: 0;
  }
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.bg1::after {
  background-image: url($msba-connect-facets);
  background-repeat: no-repeat;
  background-size: contain;
}


#newToConnect {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    box-shadow: 0 0 7px rgba(darkblue, .5);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: darkblue;
    padding: 30px;
  }
}

/*
*
*  Category page
*  (  )
 */
.category-boxes {
  width: 94%;
  margin: 0 3% 1.5em 3%;
  padding: 30px 0;
}

.category-boxes-width-topics {

}


.category-boxes,
.category-boxes-width-topics {
  flex-direction: column;

  //sub-category header
  h3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    // lock icon
    i {
      margin-left: auto;
    }
  }

  .category-box {
    text-align: left;
    border-left: 0 !important;
    border-bottom: solid 1px lightgray !important;
    width: 98%;
    margin: 0 1% 1.5em 1%;
    padding: 0;

    .category-box-inner {
      border: 0 !important;
    }

    .category-box-heading {
      padding: 0;
    }

    .featured-topics {
      padding: 0;
    }


  }
}



/*
*
*  Post page
*  (  )
 */


// Category Page title
// Includes: pin-icon, category page header, edit topic icon
.title-wrapper {
  width: 94%;
  padding: 30px 3%;

  h1 {
    .topic-statuses {
      display: flex;
      margin-bottom: 15px;
    }

    .fancy-title {
      text-align: left;
      width: 100%;
      font-size: 28px;
      margin: 15px 0;
    }

    .edit-topic {

    }
  }

  .topic-category {

    .badge-wrapper {
      margin-top: 0;
      font-style: italic;
      font-size: 14px;
    }

    .badge-category-bg {
      display: none;
    }
  }
}

// all posts live inside a post-stream
.post-stream {

  .topic-post {

    background-color: white;
    border-radius: 11px;
    box-shadow: 0 0 3px lightgrey;
    padding: 15px;
    margin: 0 15px;

    .topic-avatar {

    }

    .topic-meta-data {
      flex-direction: column;

      .names {
        margin-right: unset;
        flex: unset;
      }

      .post-date:before {
        //color: gray;
        //content: 'posted ';
      }
    }

    .topic-body {

      .regular {
        margin-top: 30px;
        border-top: solid 1px lightgray;
      }
    }

    .contents {


      p {
        text-align: left;
      }
    }

    .post-menu-area {

    }

    article {
      border: 0;
    }
  }
}

.loading-container {

}

#topic-footer-buttons {

}

#suggested-topics {

}
