@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i');
@import 'common/foundation/variables';
// -------------------------
// Colors
// -------------------------
$white: #fff;
$black: #333;
$red: #a22;

$text-primary: #0e1554;
$text-secondary: #3a4476;
$text-light: #6a7299;
$text-lighter: #9da1c3;

$blue-xdark: #0a0f37;
$blue-dark: #0e1554;
$blue-sdark: #2c40bb;
$blue: #445ae3;
$blue-slight: #2a90cc;
$blue-light: #51befe;
$blue-xlight: #4eb7f5;
$blue-xxlight: #d8f8ff;

$purple: #545efc;
$purple-light: #767efd;
$purple-xlight: #dde2ff;
$purple-xxlight: #f5f4fe;

$pink-dark: #de266d;
$pink: #fe3c87;
$pink-light: #ff3c87;
$pink-xlight: #ffe4ee;

$green-dark: #36c7a6;
$green: #33e2bb;
$green-xlight: #d6fff6;

$yellow-dark: #ddac3e;
$yellow: #fad566;
$yellow-light: #fff4d5;

$grey-dark: #999999;
$grey: #e8e8e8;

$base-background: $white;
$base-font-color: $blue-dark;
$base-error-color: $pink;

html,
body,
body input,
body button,
body select,
body textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/*
  HeaderShine
 */
.d-header {
  box-shadow: none;
  background-color: white;
  border-bottom: 1px solid $grey;
}

/*
  FooterShine
 */
.FooterShine {
  border-top: 1px solid $grey;
  padding: 30px 6px 40px 2px;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 54px;

    li:first-child {
      margin-right: auto;
    }

    li:not(:first-child):not(:last-child) {
      margin-right: 24px;
    }
  }

  a,
  a:visited {
    color: $text-light;
    font-size: 1em;

    &:hover,
    &:focus,
    &:active {
      color: $tertiary;
    }
  }

  img {
    height: 54px;
    margin-left: -10px;
    opacity: 0.7;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .SecondNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 6px 3px;
    margin-right: -8px;

    .Download-links {
      .IconStore {
        height: auto;
        display: inline-block;
        opacity: 0.8;

        svg {
          height: 37px;
        }

        &.-app-store {
          opacity: 0.7;
          margin-right: 10px;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .SocialLinks {
      a {
        opacity: 0.7;

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      svg {
        height: 30px;
      }
    }
  }
}

/*
  Shine Connect Button
 */
button.oauth2_basic {
  background: white !important;
  border-radius: 5px;
  border: 1px solid $purple;
  color: $purple;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:before {
    background-size: cover;
    content: '';
    background-image: url(https://community.shine.fr/uploads/shine/original/1X/6d7cbf1a0a520da3184a0c3004cfdf588b7af32c.png);
    height: 21px;
    width: 21px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: white !important;
    background: $purple !important;
  }
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary;
}

.badge-wrapper.bullet .badge-category-bg {
  display: none;
}

.category-name {
  font-size: 1.1em;
  font-weight: 400;
}
.badge-wrapper.bullet span.badge-category {
  color: $text-light;
}

.badge-wrapper .badge-category .d-icon {
  margin-right: 5px;
}

.suggested-topics-message .badge-wrapper.bullet {
  margin-right: 0;
}

#suggested-topics {
  padding: 30px 0;
  .suggested-topics-message {
    margin: 0.5rem 0;
  }
}

#list-area {
  margin-bottom: 80px;
}

.active i {
  color: $blue-light;
}

.fa.tracking,
.fa.watching {
  color: $purple;
  font-weight: normal;
}

tr.category-topic-link,
.latest-topic-list-item,
.table-heading {
  border-color: $grey;
}

.moderator .topic-body {
  background-color: $green-xlight;
}

.badge-category-parent-bg {
  display: none !important;
}

a.mention,
a.mention-group {
  background: transparent;
  color: $purple;
}

@media (max-width: 750px) {
  footer {
    .ProductNav {
      li:not(:first-child) {
        display: none;
      }
    }

    .SecondNav {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 16px;

      .DownloadLinks {
        margin-left: 1px;
      }

      .SocialLinks {
        margin-top: 20px;
        margin-left: -8px;
      }
    }
  }
}


//
// Laruta
//

// MSBA / Atoms / Colors
// Source: Figma Style Guide
// Contains the color palette, classes, mixins and variables for the site colors.

// Black + White + Grayscales
$black: #000;
$white: #fff;
$gray-lighter: #e9e9e9;
$gray-light: #adadad;
$gray-dark: #4f4f4f;
$gray-darker: #2a2a2a;
$gray-scale: 'gray-lighter' $gray-lighter, 'gray-light' $gray-light, 'gray-dark' $gray-dark, 'gray-darker' $gray-darker;

// Primary Colors
$primary-tint: #FFF2BA; // #FFEEA6
$primary-color: #FFD524; // #FFCF06
$primary-shade: #D9AF00; // #AD8F10


// Secondary Colors
$secondary-tint: #CDDCFA;
$secondary-color: #28509F;
$secondary-shade: #153C8A;
$secondaries: 'color' $secondary-color, 'tint' $secondary-tint, 'shade' $secondary-shade;

// Neutral Colors
$neutral-tint: #C2FFFC; // #EDD4D1
$neutral-color: #3CC7C1; // #A75245
$neutral-shade: #048C86; // #8F3628
$neutrals: 'color' $neutral-color, 'tint' $neutral-tint, 'shade' $neutral-shade;

// Breakout Colors
$breakout-tint: #C6F5D9; // #C6F5D9
$breakout-color: #4FB076; // #4FB076
$breakout-shade: #318252; // #318252
$breakouts: 'color' $breakout-color, 'tint' $breakout-tint, 'shade' $breakout-shade;

// Accent Colors
$accent-tint: #E5B6AE; // #C2FFFC
$accent-color: #A75245; // #3CC7C1
$accent-shade: #8F3628; // #048C86
$accents: 'color' $accent-color, 'tint' $accent-tint, 'shade' $accent-shade;

// Background Colors
$bg-color-1: #fdf8f8;
$bg-color-2: #f1f5fa;
// Lists (for class other molecule declarations)
$colors: 'primary', 'secondary', 'neutral', 'breakout', 'accent';
$mixes:  'color', 'tint', 'shade';
$grays:  'light', 'lighter', 'dark', 'darker';

/**
* Fonts
 **/
@mixin font-face( $font-name, $font-path, // path + file name. Ex : path/to/font/filename
$font-weight: 400, $font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    font-weight: $font-weight;
    @if $support-required=='oldie' {
      src: url('#{$font-path}.eot');
      src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff'),
      url('#{$font-path}.ttf') format('truetype');
    }
    @if $support-required=='recent' {
      src: url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff'),
      url('#{$font-path}.ttf') format('truetype');
    }
    @if $support-required=='modern' {
      src: url('#{$font-path}.woff2') format('woff2'),
      url('#{$font-path}.woff') format('woff');
    }
  }
  @if $support-required !='oldie' and $support-required !='recent' and $support-required !='modern' {
    @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
  }
}

//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-light/proximanova-light-webfont', 300, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-regular/proximanova-regular-webfont', 400, normal, "oldie" );
@include font-face( 'ProximaNova', $proximanova-regular-webfont, 400, italic, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-medium/proximanova-medium-webfont', 500, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-semibold/proximanova-semibold-webfont', 600, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-bold/proximanova-bold-webfont', 700, normal, "oldie" );
//@include font-face( 'ProximaNova', '../fonts/proximanova/proximanova-extrabold/proximanova-extrabold-webfont', 800, normal, "oldie" );

$primary-font: 'sans-serif';
$secondary-font: 'sans-serif';
$tertiary-font: 'sans-serif';

/**
* Borders
 **/
$border-width: 1px;
$border-radius: 4px;

/**
* Shadows
 **/
$shadow-color-default: rgba($black, 0.24);

// Variables
$lrt-gray: #4F4F4F;

/****************************
* HTML Tag Defaults
 **************************/
p {
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: $lrt-gray;
}

a,
a:visited,
a:active,
a:hover {
  color: unset;
}

/****************************
* Laruta Super Nav
 **************************/
.super-nav {
  // Default + Mobile Styles
  display: none;

  @media (min-width: 768px) {
    background-color: $gray-darker;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    > div {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        padding-bottom: 6px;
        padding-top: 6px;

      }
    }
  }

  .links {
    font-size: 12px;

    a {
      border-bottom: solid 1px $gray-light;
      color: $gray-light;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;

      span{
        display: inline-block;
        padding-left: .5rem;
      }
    }

    li + li {
      border-left: solid 1px $gray-light;
    }
  }

  .user-nav {
    color: $white;
    font-size: 16px;

    a { color: $white; }

    .login {
      align-items: center;
      border-left: solid 1px $gray-light;
      display: flex;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    .navbar-loggedin {
      border-color: $gray-light;
      color: $white;

      .dropdown-toggle,
      .dropdown-menu {
        background-color: rgba($gray-darker, .9) !important;

        & .dropdown-item:hover {
          background-color: rgba($gray-darker, 1) !important;
        }
      }

      * { color: $white; }
    }

    > .button-overhanging {
      transition: all 0.35s ease-in-out;
      align-items: center;
      background-color: $secondary-color;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border: 0;
      box-shadow: 0 3px 24px #333;
      display: flex;
      margin-bottom: -11px;
      padding-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 999;
      position: relative;
      text-transform: uppercase;

      &:hover {
        transition: all 0.35s ease-in-out;
        background-color: $secondary-shade;
        border: 0;
        padding-bottom: 11px;
        margin-bottom: -22px;
      }
    }
  }
}

/****************************
* Laruta Header
* ( currently commented out )
 **************************/
.laruta-header {
  display: none;
}

.navigation-categories .laruta-header {
  display: flex !important;
  flex-direction: column;
  width: 100%;

  h1 {
    color: green;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    margin: 0 auto;
    padding: 15px 0 7px;
    text-align: center;
    width: 60%;
  }

  hr {
    background-color: rgba(green, .5);
    height: 3px;
    margin: 0 30px;
  }

  .button-container {
    .button {
      margin: 0 15px;
    }
  }

  .button,
  a.button {
    border-radius: 4px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
    color: white;
    flex: 1;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  .user-account-form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
    width: 100%;

    .login {
      background: #28509F;
    }

    .join {
      background: #048C86;
    }
  }

  .search-form {
    color: $lrt-gray;
    margin: 0 auto 15px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    position: relative;

    input[type="text"] {
      flex: 1;
      font-size: 18px;
      border: solid 1px #c0c0c0;
      border-radius: 7px;
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
      margin: 0 15px;
      padding: 15px;
    }
  }

  .bg1::after {
    background-repeat: no-repeat;
    background-size: contain;
  }

  /****************************
* Featured Groups
* (part of laruta header)
 **************************/
  #featuredGroups {
    display: none;
  }

  .navigation-categories  #featuredGroups {
    background-color: rgba(#fff, .7);
    display: flex !important;
    flex-direction: column;
    padding: 45px 15px;

    h2 {
      color: #28509F;
      font-size: 34px;
      text-align: left;
    }

    a {
      background-color: darkblue;
      color: white;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      margin: 15px 0;
      text-align: left;
    }
  }
}

/****************************
* Laruta Footer
* ( taken from MSBA footer )
 **************************/
.laruta-footer {
  background-color: #262626;
  color: $gray-light;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  @media (min-width: 992px) {
    padding: 8rem 0;
  }

  .container {
    border-bottom: .8rem solid #3D3D3D;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;

    .logo {
      margin-bottom: 30px;

      img {
        &.img-fluid {
          height: auto;
          max-width: 225px;

          @media (min-width: 768px) {
            max-width: 175px;
          }
          @media (min-width: 992px){
            max-width: 100%;
          }
        }
      }
    }

    h5 {
      color: $gray-dark;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    ul {
      &.unstyled-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a.nav-link {
          display: block;
          //padding: 0.5rem 1rem;
          padding: 0;
          margin: 0 0 5px;

          li {
            display: inline-block;

            color: $gray-light;

            //font-family: Proxima Nova;
            font-size: 13px;
            line-height: normal;
            font-style: normal;
            font-weight: 500;
            text-decoration: underline;
            transition: all 0.35s ease-in-out;
          }

          &:hover {
            li {
              text-decoration: none;
            }
          }
        }

        &.legal-links {
          margin: 30px 0;

          @media (max-width: 992px) {
            max-width: 280px;
          }

          a.nav-link {
            margin-right: 15px;
            display: inline-block;
          }
        }

      }
    }

    //
    #eventCleCatalogBtn {
      position: relative;
      display: inline-block;

      color: $gray-light;
      font-family: 'ProximaNova';
      font-size: 13px;
      font-weight: 600;

      line-height: normal;
      letter-spacing: 0.05em;

      padding: 7px 17.5px;
      margin: 12.5px 0 15px;

      border: 1px solid $gray-light;
      border-radius: 4px;
      transition: all 0.35s ease-in-out;

      &:hover {
        color: $gray-darker;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }

    address {
      margin: 0;
      color: $gray-light;

      strong,
      span {
        display: block;
        font-size: 13px;
        line-height: 18px;
      }
      strong {}
      span {
        a {
          &.phone-link {
            display: inline-block;
            float: left;
            color: $gray-light;
            transition: all 0.35s ease-in-out;

            &:first-of-type {}
            &:last-of-type {
              padding-left: 10px;
              margin-left: 10px;
              border-left: 1px solid $white;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    // social media icons
    .social-media-icons {
      > ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;

        li {
          flex: 1;
          padding: 0 5px;

          a {
            border: none;
            span {
              background-color: $primary-color;
              color: $gray-darker;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              padding: 15px;
              transition: all 0.35s ease-in-out;
            }

            &:hover {
              span {
                background-color: white;
              }
            }
          }
        }
      }
    }

    .w-100 {
      width: 100%;

      &.my-4 {
        margin: 15px 0;
      }
    }
  }

  //@media (min-width: 992px){}
  //@media (max-width: 992px){}
}

/****************************
* New to Connect section
* ( currently commented out )
 **************************/
#newToConnect {
  display: none;
}

.navigation-categories #newToConnect {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background-color: #E0F4FC;
  padding: 30px;

  header {
    h3 {
      color: #28509F;
      font-size: 22px;
    }
  }


  > div {
    border-radius: 9px;
    box-shadow: 0 0 9px rgba(#28509F, .5);
    color: #28509F;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: darkblue;
    padding: 10%;
    width: 80%;
    margin: 15px 0;
  }
}

/****************************
* Mobile Nav Menu Panels
 **************************/
.menu-panel {
  height: 100% !important;
  transition: all 0.35s ease-in-out;
}

/****************************
* Mobile Navigation icons
 **************************/
.d-header-icons {

  .header-dropdown-toggle {

  }

  #search-button {

  }

  #toggle-hamburger-menu {

  }

  #current-user {
    .icon {
      div {
        img {

        }
      }
    }
  }

  .unread-notifications {
    left: auto;
    right: -17px;
    background-color: #4dfaf2;
  }
}

/****************************
* Alerts, Banners, & Messages
*
*
*
*
 **************************/
.alert-bootstrap-mode,
.alert-too-few-topics {
  display: none;
}

.alert-info {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;

  &.clickable {
    color: white;
    background-color: #048C86;
    padding: 15px;
    margin: 0 15px 30px;
  }
}

.footer-message {
  border-top: solid 1px gray;
  margin: 30px 15px 15px;
  padding: 15px 30px 0;
}

/****************************
* Buttons
*
*
*
*
 **************************/
.edit-category {
  // @TODO: this may need to move to .btn or .btn-default
  margin: 0 3px;
  width: 98%;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
}

/****************************
* Create Topic Button
* (also the Open Draft Button)
 *****************************/
#create-topic {
  align-self: stretch;
  align-items: center;
  background-color: #28509F !important;
  border-radius: 0 !important;
  border: solid 1px #545efc;
  box-sizing: border-box;
  color: white !important;
  display: flex;
  justify-content: center;
  margin: 0 3px 10px 3px;
  order: 10;
  padding: 15px 0;
  text-align: center;
  width: 98%;

  &:disabled {
    display: none;
  }

  i {

  }

  span {

  }
}

/****************************
* Components
*
*
*
*
 **************************/

/****************************
* Category List (Group Page)
 **************************/
.category-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  tr {
    width: 50% !important;
  }

  .category-list-item {
    width: 44%;
    margin: 3% !important;
    border: 0;
    flex: 1 0 auto;

    table.topic-list {
      &, tr, th, td, h3, a {
        height: 100%;
      }
    }
  }
  .category-title-link {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;

    .category-text-title {
      margin: 0;

      .category-text-title {
        margin-bottom: auto;

        & ~ div {
          margin-top: auto
        }
      }
    }
  }

  .category-topic-link {
    display: none;
  }

  /****************************
* Category Header Section (Group Page)
*************************************/
  .category-title-header {
    //background-color: unset !important;
    color: $gray-dark;

    .category-title-contents {

      &,
      .category-title-image,
      .category-title-content {
        max-width: 100%;
      }

      .category-title-image {
        .category-logo {
          max-width: unset;
          max-height: 100% !important;
        }
      }

      .category-title-content {
        padding-top: 15px;
      }
    }

    .category-name {
      color: $white;
    }
  }


  .category-name {
    font-size: 16px;
    text-align: center;
  }

  .main-link h3 {
    text-align: center;
    width: 100%;
  }

  tbody {
    display: flex !important;
    padding-top: 6px;
    flex-wrap: wrap;
  }

  tr {
    border: none !important;
    margin: 0;
    border-radius: 8px;
    width: 25%;
  }

  footer {
    display: none;
  }
}

/****************************
* Category Title Header (Category Page)
* Displays icon, header text, and more
 ****************************************/
.category-title-header {
  //background-color: #3E3E3D !important;
  padding: 60px 0 30px;

  .category-title-contents {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
      display: inline;
      font-size: 28px;
      line-height: 32px;
    }

    > div {
      margin: 0;
    }

    .category-title-description {

      p {
        color: $white;
      }
    }
  }
}

/****************************
* Category Navigation (Category Page)
 ***************************************/
#navigation-bar {

}


.category-heading {
  display: none !important;
}

/*
.categories-and-latest,
.categories-and-top {
  flex-flow: column wrap;
}
*/

/****************************
* Topic List (Category Page)
 **************************/
.topic-list {

  tbody {
    border: 0;
  }

  td {
    padding: 12px !important;
  }
}

// Hide the categories list on the category page...
body.categories-list {
  table.topic-list, .topic-list-bottom {
    //display: none;
  }
}

// ...but not of the front page... there has to be a better way to do this
body.navigation-categories {
  table.topic-list, .topic-list-bottom {
    display: block !important;
  }
}

/****************************
* Topic List Item (Category Page)
 **************************/
/*
.topic-list-item {
  border: 0;

  @media (max-width: 768px ){
    display: flex;

    td {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 768px ){
    display: table-row;

    td {
      display: table-cell;
    }
  }

  .avatar {
    box-shadow: 0 0 7px grey;
    position: relative;
    z-index: 2;
  }

  .pull-left {

  }

  .right {
    margin-left: 25px;
    margin-top: -10px;
    padding: 15px 5px 15px 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px lightgrey;
    border-radius: 11px;
    border-top-left-radius: 0;
    position: relative;
  }

  .main-link {
    order: 2;
  }

  .topic-item-stats {
    order: 1;

    .category {
      a {
        max-width: 200px;
      }
    }

    .badge-category-bg {
      display: none;
    }

    .category-name {
      font-style: italic;
      max-width: 200px !important;
    }
  }

  .pull-right {
    order: 3;
    display: inline-flex;
    justify-content: flex-end;
  }

  .posts-map {
    padding: 0;
    .number {
      font-size: 13px;

      &:before {
        content: "Replies: ";
      }
    }
  }
}
*/

/****************************
* Category Boxes & Category Box (Category Page)
 ************************************************/
.category-boxes,
.category-boxes-with-topics {
  flex-direction: column;

  //sub-category header
  h3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    // lock icon
    i {
      margin-left: auto;
    }
  }

  .category-box {
    text-align: left;
    border-left: 0 !important;
    border-bottom: solid 1px lightgray !important;
    width: 100% !important;
    margin: 0;
    padding: 15px 0;

    .category-box-inner {
      border: 0 !important;
    }

    .category-box-heading {
      padding: 0;
    }

    .featured-topics {
      padding: 0;
    }
  }
}

.category-boxes {
  width: 94%;
  margin: 0 3% 1.5em 3%;
  padding: 30px 0;
}

.category-boxes-with-topics {

}

/****************************
* Topic title (Topic Page)
* Includes:
* pin-icon,
* category page header,
* edit topic icon
 **************************/
.title-wrapper {
  width: 94% !important;
  padding: 0 3% 30px !important;

  h1 {
    .topic-statuses {
      display: flex;
      margin-bottom: 15px;
    }

    .fancy-title {
      text-align: left;
      width: 100%;
      font-size: 28px;
      margin: 15px 0;
    }

    .edit-topic {

    }
  }

  .topic-category {

    .badge-wrapper {
      margin-top: 0;
      font-style: italic;
      font-size: 14px;

      .badge-category {

      }
    }

    .badge-category-bg {
      display: none;
    }
  }
}

/****************************
* Post-Stream (Topic Page)
 **************************/
.post-stream {


}


/****************************
* Topic Post Component (Topic Page)
 **************************/
.topic-post {

  background-color: white;
  border-radius: 11px;
  box-shadow: 0 0 3px lightgrey;
  padding: 15px;
  margin: 15px;

  .topic-avatar {

  }

  .topic-meta-data {
    flex-direction: column;

    .names {
      margin-right: unset;
      flex: unset;
    }

    .post-date:before {
      //color: gray;
      //content: 'posted ';
    }
  }

  .topic-body {

    .regular {
      margin-top: 30px;
      border-top: solid 1px lightgray;
    }
  }

  .topic-map {
    .map {
      li {
        padding: 7px 6px;

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }

    .widget-button {
      padding: 0 5px;
      background: none !important;
      border: none !important;
    }
  }

  .contents {


    p {
      text-align: left;
    }
  }

  .post-menu-area {

  }

  article {
    border: 0;
  }
}

/****************************
* Loading Container (Topic Page)
 **************************/
.loading-container {

}

/****************************
* Topic Page Footer Buttons  (Topic Page)
 *******************************************/
#topic-footer-buttons {
  border-top: solid 1px rgba($gray-light, .6);
  border-bottom: solid 1px rgba($gray-light, .6);
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  .topic-notifications-button {
    min-width: auto;
    margin: 15px 0;
    display: flex;
    flex-direction: column;

    .btn {
      margin:  0 0 15px;
    }
  }
}

/****************************
* Suggested Topics (Topic Page)
 *******************************/
#suggested-topics {

  .suggested-topics-title {
    margin: 0 15px;
  }

  .topics {
    margin: 15px;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 3px  rgba($gray-light, .6);
    border-radius: 11px;
    border: solid 1px  rgba($gray-light, .6);

    tr{
      padding: 0 15px;

      &:not(:last-of-type) {
        border-bottom: solid 1px rgba($gray-light, .6);
      }
    }
  }
}

.suggested-topics-message {
  margin: 0 15px !important;
}

/****************************
* Search Page
 **************************/
.gap {
  margin: 0 30px;
}

/****************************
* Images inside of
* Post Content
 **************************/
.contents .cooked img {
  // prevent overflow
  max-width: 100% !important;
  height: auto !important;
}

/****************************
* Modal "Bootbox"
 ***************************/
.bootbox.modal {

  top: 10%;
  width: 90%;
  margin: 5%;
}

.badge-category-bg {
  display: none !important;
}

/****************************
* Background Image for LaRuta Header
 ************************************/
body {
  background: rgb(255,250,200);
  background: linear-gradient(180deg, rgba(255,250,200,1) 0%, rgba(255,255,255,0) 10%);
  min-width: 320px;

  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  //height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.bg1::after {
  background-repeat: no-repeat;
  background-size: contain;
}

/****************************
* Lock Icon
*************************************/
.fa.fa-lock.d-icon.d-icon-lock {
  display: none;
}







/****************************
* @TODO: Put these in the right place!
****************************************/
.featured-topics ul li {
  color: #4f4f4f !important;
  margin: 0;
  padding: 8px 0 !important;
  line-height: 16px;

  &:not(:last-of-type) {
    border-bottom: solid 1px #ddd;
  }
}

.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  border-bottom: solid 3px #FFDA21 !important;

  &:first-of-type {
    border-top: solid 3px #FFDA21 !important;
  }
}

#create-topic {
  border: 0 !important;
  background-color: #FFDA21 !important;
  color: black !important;

    &:hover {
      i {
        color: #fff !important;
      }
    }
}

.category-box-about-this-section-category {
  display: none;
}

.category-title-header {

  .category-title-contents {
    .category-title-description {
      margin-top: 15px;

      p {
        color: $white !important;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}

.category-title-image, .category-logo {
  //max-height: 100% !important;
  max-width: 100% !important;
}

.d-header #site-logo {
  max-width: unset !important;
}

/****************************
* Tweaks to Topic Page
*************************************/


.topic-category > a {
  // border-bottom: solid 1px #6a7299;
  display: inline;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.topic-category > a:first-of-type {
  font-style: normal !important;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  //border: solid 1px #6a7299d;
  //border-radius: 7px;
  //padding: 3px;

  .category-name {
    font-weight: 600 !important;
  }
}

.topic-category > a:last-of-type {
  text-indent: 5px;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  //font-style: italic !important;
}

.topic-category > a:last-of-type:before {

  content: "/";
  border-bottom: 0 !important;
  //width: 15px;
  //height: 10px;
  //background-color: gold;
  //border-left: solid 1px #6a7299;
  //border-bottom: solid 1px #6a7299;
  //display: block;
  //content: "";
  //text-indent: 30px;
  //position: relative;
  //top: -5px;
  //left: 5px;
}


.title-wrapper h1 .fancy-title {
  text-align: left;
  font-size: 24px;
  display: block;
  padding-bottom: 10px;
  border-bottom: solid 1px $gray-lighter;
  margin-bottom: 0;
}

.d-icon-pencil {
  display: none;
}

#topic-title {
  padding-bottom: 0;
}

.topic-footer-main-buttons {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 30px;
  margin: 0 15px;
}

.topic-footer-mobile-dropdown {
  //border-top: solid 1px lightgrey;
}

.topic-footer-mobile-dropdown {
  margin-top: 15px;
  width: 100% !important;
}

button.create {
  border-radius: 0 !important;
  padding: 15px;
  width: 100%;
}

.topic-status-info {
  border-top: 0;
  padding-top: 0;
}

.topic-post {
  padding-bottom: 0 !important;
}

ol.category-breadcrumb {
  margin-bottom: 0 !important;
  margin-right: 0 !important;

  li {
    border-radius: 0 !important;
    overflow: visible !important;
  }
}

.nav-pills > li > a {
  margin-left: 0;
  border-radius: 0;
}

.topic-category {
  flex-wrap: nowrap;
  flex-direction: row;

  a.badge-wrapper {
    font-size: 12px;
  }
}

.select-kit .select-kit-row .name {
  text-align: left;
}

.btn-primary {
  background: #F6C92A;
  color: black;
}

ol.category-breadcrumb {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 100%;
    width: 80%;
}

.category-drop:nth-of-type(1), .category-drop:nth-of-type(2) {
    width: 48% !important;
}

.list-controls .nav-pills {
  display: flex;
  flex: unset !important;
  margin: 0 3px 5px 3px;
  position: relative;
}

.list-controls .select-kit {
  display: flex;
  align-self: stretch;
}

button.dropdown-select-box-header {
  padding: 10px !important;
  height: 36px !important;
  margin-bottom: 5px !important;
}

.badge-notification.new-posts, .badge-notification.unread-posts {
  background-color: #acc2d7;
}

.tag-drop-header {
  display: none !important;
}

.select-kit-row[data-name=Invite] {
  display: none !important;
}

// menu
.menu-panel {
  border: 0;
  box-shadow: 0 1px 3px black !important;
  background-color: #31509a;
  color: white;
  font-size: 16px;
  padding: 30px 15px;
}
.menu-panel hr {
  opacity: 0;
  margin: 5px 0;
  /*! display: none; */
}
.menu-panel .heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  margin-left: 8px;
}

.menu-panel .badge-category .category-name {
  //color: white;
}

.menu-panel .subcategory {
  width: 100%;
}

.menu-panel .badge-category {
  max-width: 100%;
}

.menu-panel .subcategory .category-name {
  width: 100%;
}

.menu-container-general-links {
  font-weight: 900;
  font-size: 17px;
  border-bottom: solid 1px white;
  margin: 0 17px 15px;
}

.widget-link {
  padding-left: 0 !important;
}

.menu-container-faq-link,
.menu-container-admin-links,
.menu-container-footer-links,
.heading {
  margin-left: 15px;
}

.menu-panel li a:hover,
.menu-panel li a:focus,
.menu-panel li.heading a:hover,
.menu-panel li.heading a:focus {
  background-color: unset;
  text-decoration: underline;
  outline: none;
}

.fa-bars:hover, .fa-search:hover {
  background-color: transparent !important;
  color: #31509a;
}

.header-dropdown-toggle.active i {
  color: #31509a;
}

.menu-panel li.category-link .badge-wrapper.bar,
.menu-panel li.category-link .badge-wrapper.bullet {
  color: white;
}


.menu-panel li.category-link {
  width: 100%;
}

.menu-panel span.badge-category {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// charlies styles
body,
body.template-msba-connect,
h1, h2, h3, h4, h5	{
  font-family: 'Proxima Nova';
  font-style: normal;
}
h1, h2, h3, h4, h5	{
  font-weight: bold;
}

.clear { clear:both; }
.btn {
  background: #28509F;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF!important;
  min-height:38px;
  padding:8px 15px;
}
.btn.login {


}
.header {
  padding: 23px 0;
}
.header .btn {
  float:right;
}

.banner {
  background:#fef9d0 url($banner-bg) bottom center no-repeat;
  min-height: 622px;
  display:block;
  background-size: 100%!important;
  padding: 65px 0;
  text-align: center;
}
.banner h1{
  line-height: normal;
  font-size: 50px;
  text-align: center;
  color: #318252;
  font-weight: bold;
}
.banner p {
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  color: #4F4F4F;
  max-width:640px;
  display:block;
  margin:25px auto;

}
.banner .btn {
  background: #00B5AD;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  padding: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 30px;
  max-width: 204px;
}
.banner .btn.blue {
  background: #28509F;
}
.community-wrap .container {
  max-width: 1010px;
}
.community-wrap {
  background:#f8f8f8;
  padding:70px 0;
}
.community-wrap h2 {
  line-height: normal;
  font-size: 34px;
  color: #28509F;
  margin-bottom:20px;
}

.community-wrap p.desc {
  line-height: 25px;
  font-size: 18px;
  color: #4F4F4F;
  margin-bottom:45px;
}
.popular-community .community-box {
  margin:0 -25px;
}
.popular-community .community-box:after {
  content: "";
  clear:both;
  display:block;
}
.popular-community .community-box .item {
  width: 207px;
  height: 103px;
  display: block;
  float: left;
  padding: 12px;
  border-radius: 3px;
  background: #706FD3;
  margin: 25px;
  position:relative;
}

.popular-community .community-box .item p {
  line-height: 16px;
  font-size: 16px;
  color: #FFFFFF;
  margin:0;
  position:absolute;
  left:12px;
  bottom:12px;
  right:12px;
}
.green-line {
  max-width:1196px;
  background: rgba(31, 168, 107, 0.3);
  display:block;
  width:100%;
  margin:0 auto;
  height:5px;
}
.community-wrap.all-community .accordion .btn {
  line-height: normal;
  font-size: 22px;
  color: #28509F !important;
  background: transparent;
  display: block;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  text-align: left;
  font-weight: 700;
  text-decoration: none !important;
  padding: 15px 0;
  white-space: inherit;
}
.community-wrap.all-community .accordion .btn i.icon {
  color: #AAC2CA;
  font-weight: 300;
  font-size: 20px;
}
.community-wrap.all-community .accordion .card-header {
  background: transparent;
  border-bottom: 0;
}
.community-wrap.all-community .accordion .card {
  border-left:0;
  border-right:0;
  background: transparent;
}
.community-wrap.all-community .accordion .card-body {
  padding: 1rem 4rem 3rem;
}
.community-wrap.all-community .accordion .card-body ul {
  list-style: none;
  padding: 0;

}
.community-wrap.all-community .accordion .card-body,
.community-wrap.all-community .accordion .card-body ul li {
  line-height: 24px;
  font-size: 18px;
  color: #28509F;
  margin-bottom: 5px;
}

.question-wrap {
  background: #E0F4FC;
  min-height: 328px;
  padding: 45px 0;
  margin-top: 2rem;
}
.question-wrap h2 {
  line-height: normal;
  font-size: 34px;
  text-align: center;
  color: #28509F;
  margin-bottom:40px;
}
.question-wrap .question-box {
  box-shadow: 0px 4px 14px #B5D5E2;
  border-radius: 4px;
  max-width: 465px;
  display: block;
  margin: 0 auto;
  min-height: 104px;
  padding: 45px 45px 45px 100px;
  width: 100%;
  background: #FFFFFF url($question-icon) 35px 31px no-repeat;
}
.question-wrap .question-box a {
  line-height: normal;
  font-size: 16px;
  color: #28509F;
}
.your-community .container {
  padding-top: 95px;
  padding-bottom: 95px;
}
.your-community .community-box {
  max-width: 982px;
  min-height: 397px;
  background: rgba(198, 245, 217, 0.6);
  border-radius: 4px;
  padding:50px 35px;
  margin: 0 auto;
}
.your-community .community-box h3 {
  line-height: normal;
  font-size: 23px;
  color: #28509F;
  margin-bottom:25px;
}
.your-community .community-box p {
  line-height: 25px;
  font-size: 18px;
  color: #4F4F4F;
  margin:0;

}
.your-community .community-box .row {
  margin-top:10px;
}
a.flag-link {
  line-height: 18px;
  font-size: 16px;
  color: #28509F;
  display:block;
  background: url($flag-icon) left calc( 50% + 5px ) no-repeat;
  padding: 30px 30px 20px;
  border-bottom: 2px solid rgba(49, 130, 82, 0.3);
  font-weight: bold;
}
.your-community .community-box .box-foot {
  line-height: 16px;
  font-size: 13px;
  color: #4F4F4F;
  margin-top: 30px;
  font-weight: 600;
}
.your-community .community-box .box-foot a {
  line-height: 13px;
  font-size: 11px;
  letter-spacing: 0.0666667em;
  text-decoration-line: underline;
  color: #153C8A;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  float: right;
}
.search-box {
  position: relative;
  max-width: 569px;
  margin: 75px auto 0;
}
.search-box input{
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  max-width: 569px;
  min-height: 67px;
  line-height: normal;
  font-size: 16px;
  color: #747474;
  display:block;
  margin:0 auto;
  width: 100%;
  padding: 20px;
}
.search-box:after {
  content: "";
  display:block;
  position:absolute;
  width:22px;
  height:22px;
  background: url($search-icon) center no-repeat;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .banner {
    min-height: 465px;
    background-size: 1040px!important;
    padding-top: 20px;
  }
  .banner h1 {
    font-size:28px;
    line-height: 30px;
    padding-top: 65px;
  }
  .banner p { font-size:16px; }
  .banner .btn {
    margin: 15px 10px;
    max-width: 143px;
  }

  .community-wrap {
    padding: 20px 0;
  }
  .community-wrap h2 {
    font-size:23px;
  }
  .popular-community .community-box {
    margin: 0 -10px;
  }
  .community-wrap p.desc {
    margin-bottom: 20px;
  }
  .popular-community .community-box .item {
    width: 155px;
    min-height: 120px;
    display: inline-block;
    float: none;
    padding: 12px;
    border-radius: 3px;
    background: #706FD3;
    margin: 10px 8px;
    position: relative;
    vertical-align: top;
    height: auto;
  }
  .popular-community .community-box .item p {
    line-height: 16px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
    left: inherit;
    bottom: inherit;
    right: inherit;
    margin-top: 20px;
    display: block;
  }
  .community-wrap.all-community .accordion .card-body,
  .community-wrap.all-community .accordion .card-body ul li,
  .community-wrap.all-community .accordion .btn {
    font-size:16px;
  }
  .community-wrap.all-community .accordion .card-header {
    padding-left: 0;
    padding-right: 0;
  }
  .community-wrap.all-community .accordion .card-body {
    padding: 1rem 2rem 3rem;
  }

  .question-wrap h2 {
    font-size: 23px;
  }

  .question-wrap .question-box {
    padding: 100px 45px 45px;
    background-position: center 40px;
    text-align:center;
  }

  .search-box {
    margin: 25px auto 0;
  }
  .your-community .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .your-community .green-line {
    display:none;
  }
  .your-community .community-box {
    padding: 20px;
  }
  .your-community .community-box h3 {
    margin-bottom: 10px;
  }
  .your-community .community-box .box-foot a {
    float: none;
    margin-top: 15px;
  }
}

// Popular Communities
.category-list-item {
  border-radius: 7px;
  padding: 7px;
  min-height: 125px;
}

.category-list-item table,
.category-list-item tr,
.category-list-item th {
  height: 100% !important;
}

.category-list-item h3 {
  height: 100%;
  margin: 0;
}


.category-list-item .category-name {
  text-align: left;
}

.category .main-link .category-title-link {
  align-items: flex-start;
  color: white !important;
  height: 100%;
}

.category-title-link > div:first-of-type {
  margin-bottom: auto;
}

.category-title-link > div:last-of-type {
  margin-top: auto;
}
